
<div class="wishlist-container">
  <h1>Wishlist</h1>
  <br><br>

  <div *ngIf="wishlist.length === 0">
    <p>Your wishlist is empty.</p>
  </div>

  <div *ngIf="wishlist.length > 0">
    <div class="item" *ngFor="let lesson of wishlist">
      <div class="item-title">{{ lesson.title }}</div>
      <div class="item-description">{{ lesson.description }}</div>
      <div class="item-feeAmount">Price: {{ lesson.feeAmount }} USD</div>


                  <button  class="button button-info" (click)="getlesson(lesson)">Pay </button>
                  <button class="button button-danger" (click)="removeFromWishlist(lesson)">Remove </button>

    </div>
  </div>
</div>
