<div class="container-fluid" style="width: 100%; height: auto; padding-top: 20px; background-color: black;">
  <div class="row">
      <div class="col-12">

   <!-- start  -->


   @for (item of allQuestions; track $index) {
   <div class="card shadow-sm mb-3" style="height: auto; flex: 1;">
    <div class="card-body d-flex flex-column p-2" style="padding: 0.5rem;">
                <div class="row mb-2">
                          <div class="col-12 col-md-6 d-flex align-items-center">
                              <label for="studentName" class="form-label me-1" style="font-size: 1rem; margin-bottom: 0;">Student Name:</label>
                              <input id="studentName" type="text" class="form-control form-control-sm" style="width: auto; margin-left: 5px; margin-bottom: 5px; font-size: .75rem;" readonly [value]="item.studentName">
                          </div>
                          <div class="col-12 col-md-6 d-flex align-items-center">
                              <label for="gradeLevel" class="form-label me-1" style="font-size: 1rem; margin-bottom: 0;">grade Level:    </label>
                              <input id="gradeLevel" type="text" class="form-control form-control-sm" readonly style="width: auto; margin-left:25px;   margin-bottom: 5px  ;font-size: 0.75rem;" [value]="item.gradeLevel
                              ">
                          </div>
                          <div class="col-12 col-md-6 d-flex align-items-center">
                              <label for="lessonTitle" class="form-label me-1" style="font-size: 1rem; margin-bottom: 0;">Lesson Title:  </label>
                              <input id="lessonTitle" type="text" class="form-control form-control-sm" readonly style="width: auto; margin-left: 25px; font-size: 0.75rem;" [value]="item.titleLesson">
                          </div>
                          <div class="col-12 col-md-6 d-flex align-items-center">
                              <label for="questionDate" class="form-label me-1" style="font-size: 1rem; margin-bottom: 0;">Question Date:</label>
                              <input id="questionDate" type="text" class="form-control form-control-sm" readonly style="width: auto; margin-left: 5px; font-size: 0.75rem;" [value]="item.questionDate">
                          </div>
                  </div>
                <div class="mb-2">
                    <label for="studentQuestion" class="form-label" style="font-size: 1rem;">Student's Question:</label  >
                    <textarea id="studentQuestion" class="form-control form-control-sm" rows="2" readonly   [value]="item.question"  ></textarea>
                </div>
                <hr class="mt-1 mb-2">
                <div class="mb-2 flex-grow-1">
                    <label for="teacherReply" class="form-label" style="font-size: 1rem;">Teacher's Reply:</label>
                    <textarea id="teacherReply" class="form-control form-control-sm" rows="2" placeholder="Type your reply here..." [(ngModel)]="item.TeacherReply"  ></textarea>
                </div>

                  <div class="d-flex justify-content-center align-items-end" style="margin-top: auto;">
                      <button type="button" class="btn btn-primary btn-sm" (click)="sendReply(item.commentId , item.TeacherReply)">Send Reply</button>
                  </div>
    </div>
</div>








}@empty {


  <div   style=" color: red;
            font-weight: bold;  text-align: center;">
    No students have sent any messages yet.
  </div>

}



   <!-- end  -->
      </div>
  </div>
</div>
