body {
  display: flex; /* استخدام Flexbox لتخطيط العناصر */
}

nav {
  background-color: #4169E1;
  width: 250px; /* عرض الشريط الجانبي */
  text-align: center;
  height: 100vh; /* ارتفاع الشريط الجانبي ليملأ الصفحة */
  position: fixed; /* تثبيت الشريط الجانبي */
  top: 0; /* محاذاة من الأعلى */
  left: 0; /* محاذاة من اليسار */
  z-index: 100; /* رفع مستوى الشريط الجانبي فوق المحتوى */
  overflow-y: auto; /* إضافة التمرير إذا كان المحتوى أكبر من ارتفاع الشريط */
}

img {
  width: 25px; /* حجم الصور */
  float: left;
}

li {
  text-align: right;
  position: relative;
  margin-top: 30px; /* فراغ بين العناصر */
}

.sidebar .nav-link {
  font-weight: bold;
  color: white;
}

.sidebar .nav-link.active {
  color: white;
}

.sidebar .nav-link:hover {
  background-color: #696969;
  color: white;
}

.content {
  margin-left: 250px; 
  padding: 20px; 
  flex-grow: 1; 
}

@media (max-width: 768px) {
  nav {
      width: 100%; 
      height: auto; 
      position: relative; 
  }

  .content {
      margin-left: 0; 
  }
}
#Name{
  text-align: center;
  border: 4px solid;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: wheat;
  border-radius: 25px;
  width: 90%;
  position: relative;
  left: 10px;
  font-size: 24px;
}