<div class="container video-container mt-4">
  <div class="card shadow-lg">
      <div *ngIf="alertMessage" class="alert" [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}" role="alert">
          {{ alertMessage }}
      </div>
      <div class="card-header dd  text-white text-center">
          <h4 class="mb-0">Lecture</h4>
      </div>
      <div class="card-body">
          <div class="video-wrapper">
              <video #videoPlayer
                  [src]="curentlesson.videoURL"
                     style="width: 600px ; height: 600px; max-width: 100%;"    controlsList="nodownload">


              </video>

              <!-- crossorigin="anonymous"
              preload="none"
              class="video-player"
              (contextmenu)="onContextMenu($event)"
              controlsList="nodownload" -->
              <div class="video-overlay">
                  <button *ngIf="isPaused" (click)="togglePlay()" class="play-button">
                      <i class="fas fa-play"></i>
                  </button>
                  <button *ngIf="!isPaused" (click)="togglePlay()" class="play-button">
                      <i class="fas fa-pause"></i>
                  </button>
                  <button (click)="toggleFullScreen()" class="full-screen-button">
                      <i class="fas fa-expand"></i>
                  </button>
              </div>
          </div>

          <h5 class="card-title">Title: {{ curentlesson.title }}</h5>
          <p class="card-text">Description: {{ curentlesson.description }}</p>

          <div class="mb-3">
              <a *ngIf="curentlesson.pdfurl" [href]="curentlesson.pdfurl" target="_blank" class="btn btn-outline-secondary me-2" download>Download Lesson PDF</a>
              <a *ngIf="curentlesson.homeworkURL" [href]="curentlesson.homeworkURL" target="_blank" class="btn btn-outline-secondary" download>Download Homework</a>
          </div>

          <h5>Upload Your Homework</h5>
          <div class="d-flex align-items-center mb-3">
              <form [formGroup]="uploadForm" (ngSubmit)="onSubmit(curentlesson.lessonId)">
                  <ng-container *ngIf="curentlesson.homeWorkEvaluation === 'accept'; else rejectOrPending">
                      <div class="alert alert-success" role="alert">
                          The homework has been accepted.
                      </div>
                  </ng-container>
                  <ng-template #rejectOrPending>
                      <ng-container *ngIf="curentlesson.homeWorkEvaluation === 'reject'; else pending">
                          <div class="alert alert-danger" role="alert">
                              The homework has been rejected, please upload your homework again.
                          </div>
                      </ng-container>
                      <ng-template #pending>
                          <ng-container *ngIf="curentlesson.homeWorkEvaluation === 'Pending'">
                              <div class="alert alert-warning" role="alert">
                                  The homework is pending review.
                              </div>
                          </ng-container>
                          <input style="width: 70%;" type="file" id="receiptInput" accept="application/pdf" (change)="onFileChange($event)" class="form-control me-2" />
                          <button type="submit" class="btn btn-outline-primary ms-auto" [disabled]="!isFileValid">Send</button>
                      </ng-template>
                  </ng-template>
              </form>
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>

          <div *ngFor="let item of allessage;" class="message-container">
              <div class="mb-2">
                  <label class="form-label">Student's Question:</label>
                  <label class="form-control form-control-sm">{{ item.question }}</label>
              </div>
              <div class="mb-3">
                  <label class="form-label">Teacher's Reply:</label>
                  <label class="form-control form-control-sm">{{ item.reply }}</label>
              </div>
          </div>

          <div class="mb-2">
              <label class="form-label">Type your question here:</label>
              <textarea id="studentQuestion" class="form-control form-control-sm" rows="2" placeholder="Type your question here..."></textarea>
          </div>
          <button (click)="onSubmitQuestion()" class="btn btn-primary btn-sm">Submit</button>
      </div>

      <div class="text-start">
          <button (click)="Back()" class="btn btn-success btn-sm m-2">Back</button>
      </div>
  </div>
</div>
