<nav class="sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li id="Name" class="nav-item">Welcome MR / {{Name}}</li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/teacher"><img class="Dashboard" src="Images/Dashboard2.PNG"> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="upload/"><img class="Dashboard" src="Images/upload.PNG"> Upload Lesson</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="homework/"><img class="Dashboard" src="Images/book.PNG"> Homework</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="chat/"><img class="Dashboard" src="Images/chat.PNG"> Chat</a>
            </li>
        </ul>
    </div>
</nav>


