nav {
  background-color: #4169E1;
  width: 15%;
  text-align: center;
}
img{
  width: 25px;
  float: left;
}

li {
  text-align: right;
  position: relative;
  margin-top: 30px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar .nav-link {
  font-weight: bold;
  color: white;
}

.sidebar .nav-link.active {
  color: white;
}

.sidebar .nav-link:hover {
  background-color: #696969;
  color: white;
}

.container-fluid {
  display: flex;
}

