<table class="table table-bordered text-center">
  <thead>
      <tr>
          <th class="small-width">Grade Level</th>
          <th class="small-width">Lesson Name</th>
          <th class="large-width">Question</th>
          <th class="extra-large-width">Reply</th>
          <th class="small-width">Common Question</th>
      </tr>
  </thead>
  <tbody>




      <tr *ngFor="let question of questions">
          <td>{{ question.gradeLevel }}</td>
          <td>{{ question.lessonTitle }}</td>
          <td>{{ question.question }}</td>
          <td>{{ question.reply }}</td>
          <td>
              <label>
                  <input type="checkbox" [(ngModel)]="question.selected" name="question{{ question.id }}">
                  Choose
              </label>
          </td>
      </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-primary" (click)="sendSelectedQuestions()">Send</button>
</div>
