<table class="table table-bordered table-striped" style="margin-top: 30px;">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Student</th>
      <th>Course Title</th>
      <th>Level</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allStudents; let i = index; trackBy: trackByStudentId">
      <td>{{ i + 1 }}</td>
      <td>{{ item.userName }}</td>
      <td>{{ item.lessonTitle }}</td>
      <td>{{ item.gradeLevel }}</td>
      <td>
        <button (click)="onclick(item)">
          <img style="width: 20px;" src="Images/Edit.PNG" alt="Edit">
        </button>
      </td>
    </tr>
  </tbody>
</table>
