<table class="table table-bordered table-striped" style="margin-top: 30px;">
  <thead class="thead-dark">
      <tr>
          <th>#</th>
          <th>Student</th>
          <th>Do The Homework</th>
          <th>Course Title</th>
          <th>Level</th>
          <th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>1</td>
          <td>Row 1 Data 1</td>
          <td>Row 1 Data 2</td>
          <td>Row 1 Data 3</td>
          <td>Row 1 Data 4</td>
          <td><button><img style="width: 20px;" src="Images/Edit.PNG"></button></td>
      </tr>
      <tr>
          <td>2</td>
          <td>Row 2 Data 1</td>
          <td>Row 2 Data 2</td>
          <td>Row 2 Data 3</td>
          <td>Row 2 Data 4</td>
          <td><button><img style="width: 20px;" src="Images/Edit.PNG"></button></td>
      </tr>
      <tr>
          <td>3</td>
          <td>Row 3 Data 1</td>
          <td>Row 3 Data 2</td>
          <td>Row 3 Data 3</td>
          <td>Row 3 Data 4</td>
          <td><button><img style="width: 20px;" src="Images/Edit.PNG"></button></td>
      </tr>
  </tbody>
</table>
