
<table class="table table-bordered" style="margin-top: 30px;">
    <thead class="thead-dark">
      <tr>
        <th>Level</th>
        <th>Lesson</th>
        <th>Accepted</th>
        <th>Rejected</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    
      <tr *ngFor="let item of allcount; let index = index;">
        <td>{{ item.level }}</td>
        <td>{{ item.lessonName }}</td>
        <td>{{ item.countOfAccept }}</td>
        <td>{{ item.countOfreject }}</td>
        <td>
          <a class="btn btn-info" (click)="gotodetails(item.id)">Show Students</a>
        </td>
      </tr>
    </tbody>
  </table>
  
