.video-upload-container {
  padding: 20px;
  background-color: #e6eaf1;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.notifications {
  margin-right: 15px;
}

.upload-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* .upload-area {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 600px;
} */

.progress-section {
  margin: 15px 0;
}

.url-import {
  display: flex;
  align-items: center;
}

.url-import input {
  flex-grow: 1;
  margin-right: 10px;
}

.video-details {
  display: flex;
  flex-direction: column;
}

.video-details input, .video-details select, .video-details textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #304f7c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #20365c;
}
