<div class="tables-container">
     <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Student Name Accepted</th>
        </tr>
      </thead>
      <tbody>
          @for (item of accepts; track $index) {


            <tr class="text-center">
              <td>{{item}}</td>
           </tr>
          }@empty {

            <tr class="text-center">
             <td>  No Student Accepted</td>
           </tr>
          }
      </tbody>
    </table>
  
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Student Name Reject</th>
        </tr>
      </thead>
      <tbody>

          @for (item of rejects; track $index) {

            <tr class="text-center">
              <td>{{item}}</td>
           </tr>
          }@empty {

            <tr class="text-center">
              <td> No Student Rejected </td>
           </tr>
          }


      </tbody>
    </table>
  </div>


