.receipt-details {
  h2 {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }

  p {
    margin: 5px 0 15px;
    padding: 5px;
    background-color: #f0f4fa;
    border-radius: 5px;
  }

  img {
    margin: 15px 0;
    border-radius: 5px;
  }

  .buttons {
    display: flex;
    /* justify-content: space-around; */
    margin-top: 20px;

    .accept-button, .reject-button {
      padding: 10px 20px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .accept-button {
      background-color: #5A77DF;
      margin-right: 100px;
    }

    .reject-button {
      background-color: #e74c3c;
    }
  }
}
