.table {

  width: 100%;               /* تعيين عرض الجدول إلى 100% */
  table-layout: fixed;       /* يجعل عرض الأعمدة ثابتًا */
}

.table th,
.table td {
  width: 50%;                /* تعيين عرض كل خلية إلى 50% */
  max-width: 50%;            /* تعيين الحد الأقصى لعرض كل خلية إلى 50% */
  /* height: 10px;             تعيين ارتفاع ثابت للخلايا */
  overflow: auto;            /* إضافة شريط تمرير عند زيادة المحتوى */
  white-space: normal;       /* السماح بتجاوز الأسطر */
  word-wrap: break-word;     /* السماح بتقسيم الكلمات الطويلة */
}


