USE [master]
GO
/****** Object:  Database [EduPlatformDB]    Script Date: 10/14/2024 10:11:41 AM ******/
CREATE DATABASE [EduPlatformDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduPlatformDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduPlatformDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduPlatformDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduPlatformDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduPlatformDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduPlatformDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [text] NOT NULL,
	[Reply] [text] NOT NULL,
	[QuestionDate] [datetime] NULL,
	[ReplyDate] [datetime] NULL,
 CONSTRAINT [PK__Comment__C3B4DFAAA29DDCDF] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollment]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollment](
	[EnrollmentId] [int] IDENTITY(1,1) NOT NULL,
	[LessonId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[ReceiptId] [int] NOT NULL,
	[AccessStartDate] [datetime] NULL,
	[AccessEndDate] [datetime] NULL,
	[SubmissionDate] [datetime] NULL,
	[SubmissionLink] [nvarchar](max) NULL,
	[HomeWorkEvaluation] [nvarchar](25) NULL,
	[UserName] [varchar](25) NULL,
	[Password] [varchar](30) NOT NULL,
	[ReceiptStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Enrollme__7F68771BF56DB4C0] PRIMARY KEY CLUSTERED 
(
	[EnrollmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteLessons]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteLessons](
	[FavoriteLessonId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
	[DateAdded] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteLessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[GradeLevel] [nvarchar](2) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[UploadDate] [date] NOT NULL,
	[FeeAmount] [decimal](10, 2) NOT NULL,
	[AccessPeriod] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[LessonId] [int] NOT NULL,
	[MaterialType] [nvarchar](20) NOT NULL,
	[MaterialLink] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[ReceiptId] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptImageLink] [nvarchar](max) NOT NULL,
	[UploadDate] [datetime] NULL,
	[AdminReviewed] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__Receipt__CC08C4204E64E4BC] PRIMARY KEY CLUSTERED 
(
	[ReceiptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SelectedQuestions]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SelectedQuestions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GradeLevel] [nvarchar](2) NULL,
	[LessonName] [nvarchar](50) NULL,
	[QuestionText] [nvarchar](max) NULL,
	[ReplyText] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] NOT NULL,
	[GradeLevel] [nvarchar](2) NOT NULL,
	[Governorate] [nvarchar](15) NOT NULL,
	[ParentPhone] [nvarchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Comment]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Comment](
	[Student_CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentID] [int] NOT NULL,
	[LessonID] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[EnrollmentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/14/2024 10:11:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](11) NOT NULL,
	[Role] [nvarchar](2) NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[LastLoginDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF__Enrollmen__Submi__5165187F]  DEFAULT ('') FOR [SubmissionLink]
GO
ALTER TABLE [dbo].[Enrollment] ADD  CONSTRAINT [DF_Enrollment_ReceiptStatus]  DEFAULT ('Pending') FOR [ReceiptStatus]
GO
ALTER TABLE [dbo].[FavoriteLessons] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Lesson] ADD  DEFAULT ((14)) FOR [AccessPeriod]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([AdminId])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Lesso__534D60F1] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lesson] ([LessonId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__Lesso__534D60F1]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Recei__5535A963] FOREIGN KEY([ReceiptId])
REFERENCES [dbo].[Receipt] ([ReceiptId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__Recei__5535A963]
GO
ALTER TABLE [dbo].[Enrollment]  WITH CHECK ADD  CONSTRAINT [FK__Enrollmen__Stude__5441852A] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollment] CHECK CONSTRAINT [FK__Enrollmen__Stude__5441852A]
GO
ALTER TABLE [dbo].[FavoriteLessons]  WITH CHECK ADD FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lesson] ([LessonId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteLessons]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lesson] ([LessonId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student_Comment]  WITH CHECK ADD FOREIGN KEY([CommentID])
REFERENCES [dbo].[Comment] ([CommentID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student_Comment]  WITH CHECK ADD  CONSTRAINT [FK__Student_C__Enrol__245D67DE] FOREIGN KEY([EnrollmentID])
REFERENCES [dbo].[Enrollment] ([EnrollmentId])
GO
ALTER TABLE [dbo].[Student_Comment] CHECK CONSTRAINT [FK__Student_C__Enrol__245D67DE]
GO
ALTER TABLE [dbo].[Student_Comment]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([LessonId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Student_Comment]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD FOREIGN KEY([TeacherId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD CHECK  (([MaterialType]='Reference' OR [MaterialType]='Word' OR [MaterialType]='Video' OR [MaterialType]='PDF'))
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [CK__Receipt__AdminRe__4D94879B] CHECK  (([AdminReviewed]='n' OR [AdminReviewed]='y' OR [AdminReviewed]='N' OR [AdminReviewed]='Y'))
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [CK__Receipt__AdminRe__4D94879B]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD CHECK  ((len([ParentPhone])=(11)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  ((len([Phone])=(11)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([Role]='s' OR [Role]='a' OR [Role]='t' OR [Role]='S' OR [Role]='A' OR [Role]='T'))
GO
USE [master]
GO
