
<div *ngIf="showModal">
<div class="modal-backdrop" (click)="closeModal()"></div>

<div class="modal-content">
  <div class="edit-lecture">
    <h2>Edit Lecture</h2>

    <label>Title:</label>
    <input [(ngModel)]="editedLecture.title" />

    <label>Description:</label>
    <input [(ngModel)]="editedLecture.description" />

    <label>Date:</label>
    <input [(ngModel)]="editedLecture.uploadDate" />

    <!-- <label>Time:</label>
    <input [(ngModel)]="editedLecture.time" /> -->

    <label>Price:</label>
    <input [(ngModel)]="editedLecture.feeAmount" />

    <label>Lecture Video:</label>
    <input type="file" (change)="onVideoSelected($event)" accept="video/*" />

    <label>Attached File:</label>
    <input type="file" (change)="onFileSelected($event)" />

    <button (click)="Save()">Save</button>
    <button (click)="closeModal()">Cancel</button>
  </div>
</div>
</div>


