<div class="container">
    <!-- <div class="bodyy">
        <pre>    Upload Lesson</pre>
            <input class="upload" type="file" value="Upload Lessons" />


    </div> -->
    <div class="bodyInput">
        <p class="paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda alias rem et velit id inventore eaque quasi, eligendi odio dolorem quas accusamus, nisi saepe accusantium dolor cum, facere deserunt obcaecati.</p>
        <!-- <input id="upload" type="button" class="btn btn-success" value="Upload Lessons"> -->
        <a id="upload" class="btn btn-success" routerLink="upload/">Upload Lessons</a>
    </div>

    <div class="LessonStyle">
        <h1 class="p">Lessons</h1>
        <div class="row">
            <div class="col-4">
              <div class="Level1"><h3>Level 1</h3>
                <h4>{{Number}} Vedio</h4>
              </div>

            </div>
            <div class="col-4">
              <div class="Level2"><h3>Level 2</h3>
                <h4>{{Number}} Vedio</h4>
            </div>
            </div>
            <div class="col-4">
              <div class="Level3"><h3>Level </h3>
                <h4>{{Number}} Vedio</h4></div>
            </div>
    </div>

<!-- ////////////////////////////////////// -->
    <table class="table table-bordered table-striped ">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>Student</th>
          <th>Do The Homework</th>
          <th>Course Title</th>
          <th>Level</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Row 1 Data 1</td>
          <td>Row 1 Data 2</td>
          <td>Row 1 Data 3</td>
          <td>Row 1 Data 4</td>
          <td><button><img style="width: 20px;" src="Images/Edit.PNG"></button></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Row 2 Data 1</td>
          <td>Row 2 Data 2</td>
          <td>Row 2 Data 3</td>
          <td>Row 2 Data 4</td>
          <td><button><img style="width: 20px;" src="Images/Edit.PNG"></button></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Row 3 Data 1</td>
          <td>Row 3 Data 2</td>
          <td>Row 3 Data 3</td>
          <td>Row 3 Data 4</td>
          <td><button><img style="width: 20px;" src="Images/Edit.PNG"></button></td>

        </tr>
      </tbody>
    </table>



</div>

